In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./seoul.csv', encoding='cp949')
df

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40216  2019-01-13  108      1.2     -3.0      7.6
40217  2019-01-14  108      1.4     -2.4      5.3
40218  2019-01-15  108     -1.7     -7.2      2.6
40219  2019-01-16  108     -5.2    -10.1     -1.1
40220  2019-01-17  108     -0.3     -3.2      4.0

[40221 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40221 entries, 0 to 40220
Data columns (total 5 columns):
날짜         40221 non-null object
지점         40221 non-null int64
평균기온(℃)    39465 non-null float64
최저기온(℃)    39464 non-null float64
최고기온(℃)    39463 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 1.5+ MB

In [4]:
df = df.dropna()

In [5]:
df_date = df.set_index('날짜')
col_index = df_date.columns
col_index

Index(['지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'], dtype='object')

### 서울의 가장 최고 기온

In [6]:
df_date[df_date[col_index[3]] == df_date.max()[3]][col_index[3]]

날짜
2018-08-01    39.6
Name: 최고기온(℃), dtype: float64

### 서울의 가장 최저 기온

In [7]:
df_date[df_date[col_index[2]] == df_date.min()[2]][col_index[2]]

날짜
1927-12-31   -23.1
Name: 최저기온(℃), dtype: float64