In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [2]:
df = pd.read_csv('./subwayfee.csv', encoding='cp949')
df

         사용월    호선명   역ID        지하철역     유임승차     유임하차    무임승차    무임하차
0    2019-01    1호선   150         서울역  1516452  1400464  221180  211764
1    2019-01    1호선   151          시청   676932   676266  102388  101033
2    2019-01    1호선   152          종각  1240810  1177643  162410  152062
3    2019-01    1호선   153        종로3가   703110   674148  387062  362735
4    2019-01    1호선   154        종로5가   571824   583955  275447  263687
..       ...    ...   ...         ...      ...      ...     ...     ...
593  2019-01  우이신설선  4709      북한산보국문   131839   117790   40396   40629
594  2019-01  우이신설선  4710          정릉    83527    73090   43457   41092
595  2019-01  우이신설선  4711  성신여대입구(돈암)    77040    89799   31555   29648
596  2019-01  우이신설선  4712          보문    31502    32724   15900   16109
597  2019-01  우이신설선  4713         신설동    37248    40743   19037   17418

[598 rows x 8 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 8 columns):
사용월     598 non-null object
호선명     598 non-null object
역ID     598 non-null int64
지하철역    598 non-null object
유임승차    598 non-null int64
유임하차    598 non-null int64
무임승차    598 non-null int64
무임하차    598 non-null int64
dtypes: int64(5), object(3)
memory usage: 37.5+ KB

### 유임 승차 비율이 높은 지하철역

In [4]:
f = open('./subwayfee.csv', encoding='cp949')
data = csv.reader(f)
next(data)

rate_dict = []
for i, row in enumerate(data):
    if int(row[4]) + int(row[6]) >= 100000:
        rate_dict.append((row[3], int(row[4]) / (int(row[4]) + int(row[6]))))

In [5]:
rate_dict.sort(key=lambda x: x[1], reverse=True)

In [6]:
result = rate_dict[0]
print(f'유임승차율이 높은 지역은 {result[0]}({result[1]*100}%) 입니다')

유임승차율이 높은 지역은 홍대입구(95.34483800050836%) 입니다

### 유임 하차 비율이 높은 지하철역

In [7]:
f = open('./subwayfee.csv', encoding='cp949')
data = csv.reader(f)
next(data)

rate_dict = []
for i, row in enumerate(data):
    if int(row[5]) + int(row[7]) >= 100000:
        rate_dict.append((row[3], int(row[5]) / (int(row[5]) + int(row[7]))))

In [8]:
rate_dict.sort(key=lambda x: x[1], reverse=True)

In [9]:
result = rate_dict[0]
print(f'유임 하차율이 높은 지역은 {result[0]}({result[1]*100}%) 입니다')

유임 하차율이 높은 지역은 홍대입구(95.74318769904649%) 입니다

### 무임 승차 비율이 높은 지하철역

In [10]:
f = open('./subwayfee.csv', encoding='cp949')
data = csv.reader(f)
next(data)

rate_dict = []
for i, row in enumerate(data):
    if int(row[4]) + int(row[6]) >= 100000:
        rate_dict.append((row[3], int(row[6]) / (int(row[4]) + int(row[6]))))

In [11]:
rate_dict.sort(key=lambda x: x[1], reverse=True)

In [12]:
result = rate_dict[0]
print(f'무임 승차율이 높은 지역은 {result[0]}({result[1]*100}%) 입니다')

무임 승차율이 높은 지역은 소요산(56.33868971808976%) 입니다

### 무임 하차 비율이 높은 지하철역

In [13]:
f = open('./subwayfee.csv', encoding='cp949')
data = csv.reader(f)
next(data)

rate_dict = []
for i, row in enumerate(data):
    if int(row[5]) + int(row[7]) >= 100000:
        rate_dict.append((row[3], int(row[7]) / (int(row[5]) + int(row[7]))))

In [14]:
rate_dict.sort(key=lambda x: x[1], reverse=True)

In [15]:
result = rate_dict[0]
print(f'무임 하차율이 높은 지역은 {result[0]}({result[1]*100}%) 입니다')

무임 하차율이 높은 지역은 제기동(58.15810715073807%) 입니다